<footer class="site-footer">
    <div class="footer-main">
        <div class="footer-links">
            <a href="/privacy">Privacy Policy</a>
            <a href="mailto:canlite24@outlook.com">Email Us</a>
            <a href="https://discord.com/invite/46gkEU5kpP" target="_blank">Join our Discord</a>
            <a href="/about">About Us</a>
        </div>
        <div class="footer-copy">&copy; <span id="year"></span> CanLite. All rights reserved.</div>
    </div>
</footer>
